
<h1>Favorite Movies</h1>



<% @favorites.each do |movie| %>


 
  <div class="movie-card">
  <p><%= link_to movie.movie.title ,movie %></p>
  <img src=<%= movie.movie.poster %> class="image-src">
  <p>Year : <%= movie.movie.year %></p>
  <p>Genre : <%= movie.movie.genre %></p>
  <p>Rating : <%= movie.movie.rating %></p>
  <p>Description : <%= movie.movie.plot %></p>
  
  </div>
  
  
<% end %>
