
<% @movies.each do |movie| %>


 
  <div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src= <%= movie.poster %> />
      <h1><%= movie.title %> </h1>
      <h4>IMDB: <%= movie.rating %> </h4>
      <span class="minutes"><%= movie.year %> </span>
      <p class="type"><%= movie.genre %></p>
    </div>
    <div class="movie_desc">
      <p class="text">
      <%= movie.plot %> 
      </p>
    </div>
   
  </div>
  <div><img src= <%= movie.poster %> class="blur_back"/></div>
  
</div>
  
  
<% end %>
