<div class = "top-part">
<h1>Movies</h1>
<%= form_tag movies_path , method: :get do%>
  <%= label_tag :title%>
  <%= text_field_tag :search %></br>
  <%= submit_tag "Search!"%>
  <% end %>
  </div>

<% @movies.each do |movie| %>


 
  <div class="movie-card">
  <p><%= link_to movie.title , movie %></p>
  <img src=<%= movie.poster %> class="image-src">
  <p>Year : <%= movie.year %></p>
  <p>Genre : <%= movie.genre %></p>
  <p>Rating : <%= movie.rating %></p>
  <p>Description : <%= movie.plot %></p>
  
  </div>
  
  
<% end %>
