
<body class= "body1">
<% @movies.each do |movie| %>

<div class="container">
<div class="row px-xl-5 px lg-0">
<div class="col-md-4">
<div class="main">
<div class="movie-img">
<img src=<%= movie.poster%> class="backimg"/>
<img class="movie-cover" src=<%= movie.poster%>>
<i class="fa fa-play"></i>
</div>
<h6><%= movie.title%></h6>
<div class="head1 text-center">
<p class="p2">Year</p>
<p class="p2">IMDB</p>
<p class="p2">Genre</p>

</div>
<div class="head2 text-center">
<p><%= movie.year%></p>
<p><%= movie.rating%></p>
<p><%= movie.genre%></p>

</div>
</div>
</div>
</div>

<% end %>
</body>