
<% @movies.each do |movie| %>


 
  <div class="movie-card">
  <p><%= link_to movie.title , movie %></p>
  <img src=<%= movie.poster %> class="image-src">
  <p>Year : <%= movie.year %></p>
  <p>Genre : <%= movie.genre %></p>
  <p>Rating : <%= movie.rating %></p>
  <p>Description : <%= movie.plot %></p>
  
  </div>
  
  
<% end %>
