


    <% @series.each do |s| %>
      <div class="product">
      <p><%= link_to s.title , s %></p>
      <img src=<%= s.image %> class="image-src">
      <p>Year : <%= s.year %></p>
      <p>Genre : <%= s.genre %></p>
      <p>Rating : <%= s.rating %></p>
      <p>Description : <%= s.description %></p>
      
      </div>
     
    <% end %>
  



