


<div class = "top-part">
<h1>Series</h1>
<%= form_tag series_index_path , method: :get do%>
  <%= label_tag :title%>
  <%= text_field_tag :search %></br>
  <%= submit_tag "Search!"%>
  <% end %>
  </div>


    <% @series.each do |s| %>
      <div class="product">
      <p><%= link_to s.title , s %></p>
      <img src=<%= s.image %> class="image-src">
      <p>Year : <%= s.year %></p>
      <p>Genre : <%= s.genre %></p>
      <p>Rating : <%= s.rating %></p>
      <p>Description : <%= s.description %></p>
      
      </div>
     
    <% end %>
  



