<div class="show-card">
<p id="notice"><%= notice %></p>
<p>
  <img src= <%= @series.image %> />
  
</p>

<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @series.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<p>
  <strong>Year:</strong>
  <%= @series.year %>
</p>

<%= button_to "Add your favorite ", favorites_path(series_id: @series), method: :post , params: {id: @series.id}%>
<%= link_to 'Back', series_index_path %>

</br></br></br></br></br>

<div>