<div class="show-card">
<p id="notice"><%= notice %></p>
<p>
  <img src= <%= @series.image %> />
  
</p>

<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @series.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<p>
  <strong>Year:</strong>
  <%= @series.year %>
</p>

<%= link_to 'Add Your Favorite', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>

</br></br></br></br></br>

<div>